body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.middle, .header, .demo, .quote, .sign-up {
    display: flex; 
    flex-direction: column;
}

.header, .footer {
    background: hsl(215, 28%, 17%);
    color: #F9FAF8;
}

.header {
    height: 300px;
    padding: 8px 160px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    gap: 24px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    display: flex;
}





.gallery {
    display: flex;
}

.quote {
    background: #E5E7EB;
}



