body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.middle, .header, .demo, .quote, .sign-up {
    display: flex; 
    flex-direction: column;
}

.header, .footer {
    background: hsl(215, 28%, 17%);
    color: #F9FAF8;
}

.header {
    min-height: 300px;
    padding: 8px 160px;
    overflow: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    gap: 24px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style-type: none;
}

a, .subtext {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding: 40px 0;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.hero p {
    margin: 0;
    padding-bottom: 8px;
}

.hero button {
    background: #3882F6;
    color: white;
    border: 0;
    padding: 6px 24px;
    border-radius: 9px;
}

.example-image {
    background: #8e8e8f;
    width: 360px;
    height: 180px;
    flex-shrink: 0;
    text-align: center;
} 

.demo {
    padding: 8px 160px;
    align-items: center;
    margin-bottom: 32px;
}

.gallery {
    display: flex;
    align-items: center;
    gap: 30px;
}

.card {
    max-width: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.image {
    height: 120px;
    width: 120px;
    border: 2px solid #3882F6;
    border-radius: 9px;
}

.card .subtext {
    color: #8e8e8f;
    margin: 0;
}

.quote {
    background: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    padding: 40px 160px;
}

.quote .text {
    margin: 0;
    font-style: italic;
    padding: 0 40px;
}

.quote .source {
    margin: 0;
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    padding: 0 80px;
}

.sign-up {
    padding: 40px 160px;
}

.container {
    min-height: 80px;
    background: #3882F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-radius: 9px;
    color: white;
}

.container button {
    background: #3882F6;
    color: white;
    border: 2px solid white;
    padding: 6px 24px;
    border-radius: 9px;
    height: 32px;
}

.container p {
    margin: 0;
}

.footer {
    text-align: center;
}