body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.middle, .header, .demo, .quote, .sign-up {
    display: flex; 
    flex-direction: column;
}

.header, .footer {
    background: hsl(215, 28%, 17%);
    color: #F9FAF8;
}

.header {
    min-height: 300px;
    padding: 8px 160px;
    overflow: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    gap: 24px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style-type: none;
}

a, .subtext {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    display: flex;
    gap: 24px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.hero p {
    margin: 0;
    padding-bottom: 8px;
}

.hero button {
    background: #3882F6;
    color: white;
    border: 0;
    padding: 6px 24px;
    border-radius: 9px;
}

.example-image {
    background: #8e8e8f;
    width: 360px;
    height: 180px;
    flex-shrink: 0;
    text-align: center;
} 





.gallery {
    display: flex;
}

.quote {
    background: #E5E7EB;
}



